@model SpeechRecognitionThesis.Models.ViewModels.IndexArticlesModel

@{
    ViewData["Title"] = "Strona główna";

    string articleUserImagePathString = string.Empty;
    string articleUserCategoryPathString = string.Empty;
}

<div class="row menu-news-content">
    <div class="row news-header">
        <h1>Polecane</h1>
    </div>
    <div class="row most-popular-articles">
        @foreach ( var mostViewedArticle in Model.MostViewedUserArticlePairList )
        {
            articleUserCategoryPathString = SpeechRecognitionThesis.Models.Scripts.UserTools
                                            .GetCategoryImagePath( mostViewedArticle.Article.ArticleCategory.Id );

            <div class="col-md-4 col-sm-3 most-popular-article">
                <h4><b>@mostViewedArticle.Article.Subject</b></h4>
                <img class="most-popular-article-image" src="@articleUserCategoryPathString" alt="Avatar">
                <div class="most-popular-article-content">@mostViewedArticle.Article.Content</div>
            </div>
        }
    </div>
    <div class="row news-header">
        <h1>Najnowsze artykuły</h1>
    </div>

    @foreach (var newestUserArticlePair in Model.NewestArticleUserPairList)
    {
        articleUserImagePathString = SpeechRecognitionThesis.Models.Scripts.UserTools
                                     .GetUserImagePath( newestUserArticlePair.User.AvatarId );

        <div class="row newest-news-body">
            <div class="col-sm-3">
                <div class="text-center">
                    <p><h3>@newestUserArticlePair.User.NickName</h3></p>
                    <img src="@articleUserImagePathString" class="img-circle" height="120" width="120" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <h2>@newestUserArticlePair.Article.Subject</h2>
                <h4>@newestUserArticlePair.Article.Content</h4>
                <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
            </div>
        </div>
    }

    <div class="row news-header">
        <h1>Najwięcej wyświetleń</h1>
    </div>

    @foreach (var mostViewedUserArticlePair in Model.MostViewedUserArticlePairList)
    {
        articleUserImagePathString = SpeechRecognitionThesis.Models.Scripts.UserTools
                                     .GetUserImagePath( mostViewedUserArticlePair.User.AvatarId );

        <div class="row newest-news-body">
            <div class="col-sm-3">
                <div class="text-center">
                    <p><h3>@mostViewedUserArticlePair.User.NickName</h3></p>
                    <img src="@articleUserImagePathString" class="img-circle" height="120" width="120" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <h2>@mostViewedUserArticlePair.Article.Subject</h2>
                <h4>@mostViewedUserArticlePair.Article.Content</h4>
                <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
            </div>
        </div>
    }

    @if( User.Identity.IsAuthenticated 
         && Model.MyArticleList.Count > 0 )
    {

        <div class="row news-header">
            <h1>Twoje artykuły</h1>
        </div>

        @foreach( var myArticle in Model.MyArticleList )
        {
            articleUserCategoryPathString = SpeechRecognitionThesis.Models.Scripts.UserTools
                                            .GetCategoryImagePath( myArticle.ArticleCategory.Id );

            <div class="row newest-news-body">
                <div class="col-sm-3">
                    <div class="text-center">
                        <p><h3>@Model.CurrentUser.NickName</h3></p>
                        <img src="@articleUserCategoryPathString" class="img-circle" height="120" width="120" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <h2>@myArticle.Subject</h2>
                    <h4>@myArticle.Content</h4>
                    <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
                </div>
            </div>
        }
    }
</div>