@model SpeechRecognitionThesis.Models.ViewModels.NewestArticlesModel

@{
    ViewData["Title"] = "Najnowsze artykuły";
    int newestArticleCounter = 0;
    string tempArticleUserImagePathString = string.Empty;
    string categoryImagePathString = string.Empty;
}

<h2>Najnowsze artykuły</h2>

<div class="row newest-articles-result">
    @foreach ( var userArticle in Model.NewestArticleList )
    {
        newestArticleCounter++;
        tempArticleUserImagePathString = "/images/" + (userArticle.User.AvatarId + 1).ToString() + ".png";
        categoryImagePathString = SpeechRecognitionThesis.Models.Scripts.UserTools.GetCategoryImagePath( userArticle.Article.ArticleCategory.Id );

        <div class="list-group-item newest-article-result">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="article-author-p">Autor</p>
                    <h3>@userArticle.User.NickName</h3>
                    <img src="@tempArticleUserImagePathString" class="img-circle" height="120" width="120" alt="Avatar użytkownika">
                </div>
                <div class="col-sm-9 article-result-info">
                    <p><h4><b>Temat: </b> @userArticle.Article.Subject</h4></p>
                    <p><h4><b>Treść: </b> @userArticle.Article.Content</h4></p>
                    <p><h4><b>Data ost. modyfikacji: </b>@userArticle.Article.ArticleModificationDate</h4></p>
                    <p></p>
                    <p><h4>Komenda do przekierowania do strony artykułu: <b>"Zobacz @newestArticleCounter.ToString() "</b></h4></p>
                    <p class="category-article-content-p">
                        <b>Kategoria: </b>
                        <span class="category-article-content-span">
                            <img src="@categoryImagePathString" class="img-circle" height="60" width="60" alt="Kategoria artykułu">
                            <a href="category/@userArticle.Article.ArticleCategoryRefId"><i class="article-name-p">[@userArticle.Article.ArticleCategory.Name]</i></a>
                        </span>
                     </p>
                    <button class="see-article-button btn-success" type="submit" value="@userArticle.Article.Id"><h4>Zobacz więcej ( @newestArticleCounter.ToString() )</h4></button>
                </div>
             </div>
        </div>
    }
</div>