@model SpeechRecognitionThesis.Models.ViewModels.AccountUserModel

@{
    ViewData["Title"] = "Moje konto";
    ViewData["AccountMainDescription"] = "Witaj " + User.Identity.Name + " w zakładce 'Moje konto'";

    string userRegisterDateString = TokenProvider.GetRegisterUserPropertyString( User.Identity,
        SpeechRecognitionThesis.Models.Scripts.UserTools.REGISTER_DATE_PROPERTY_STRING );
    string userLastLoggedDateString = TokenProvider.GetRegisterUserPropertyString(User.Identity,
        SpeechRecognitionThesis.Models.Scripts.UserTools.USER_LAST_LOGGED_DATE_PROPERTY_STRING );
}

<h2>@ViewData["AccountMainDescription"]</h2>

<div id="dialog" title="Contact form">
    <p>appear now</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="control-group">
            <div class="account-controls">
                <img class="main-user-icon" src="~/images/1.png" />
            </div>
            <div class="account-controls">
                <button id="change-account-icon">Zmień obrazek</button>
            </div>
            <div class="account-controls">
                <div class="user-nick"> @Html.ValueFor(model => model.User.NickName)</div>
            </div>
            <div class="account-controls">
                <div class="register-date">Zarejestrowany: @Html.DisplayFor(model => model.User.CreateAccountDate) </div>
            </div>
            <div class="account-controls">
                <div class="add-articles-info">Dodał: @Html.DisplayFor(model => model.iAmountOfArticles) artykuły</div>
            </div>
            <div class="account-controls">
                <div class="last-logged-date">Ostatnio zalogowany: @Html.DisplayFor(model => model.User.LastLoggedAccountDate)</div>
            </div>
        </div>
        <div class="control-group">
            <div class="account-controls">
                <button class="your-articles-button btn btn-danger" type="submit">Twoje artykuły</button>
            </div>
        </div>
        <div class="control-group">
            <div class="account-controls">
                <button id="delete-account" class="btn btn-danger" type="submit">Usuń swoje konto!</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Zmień dane</h2>
        <form id="change-data-form" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="username">Nazwa użytkownika</label>
                    <div class="account-controls">
                        <input asp-for="User.NickName" type="text" id="NickName" placeholder="" class="input-xlarge">
                        <p class="help-block">@ViewData["LoginHelpBlock"]</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Hasło</label>
                    <div class="account-controls">
                        <input asp-for="User.Password" type="password" id="Password" placeholder="" class="input-xlarge">
                        <p class="help-block">@ViewData["PasswordHelpBlock"]</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password_confirm">Hasło (potwierdzenie)</label>
                    <div class="account-controls">
                        <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" placeholder="" class="input-xlarge">
                        <p class="help-block">@ViewData["PasswordConfirmHelpBlock"]</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="account-controls">
                        <input asp-for="User.Email" type="email" id="Email" placeholder="" class="input-xlarge">
                        <p class="help-block">Proszę wprowadzić swój adres E-mail</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="account-controls">
                        <button id="change-account-data" class="btn btn-success" type="submit">Zmień dane!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
